body {
  font-family: "Days One", sans-serif;
  font-size: 62.5%;
}
p {
  font-size: 1rem;
}
.hr-title {
  border: 3px solid #0d1fd1;
  border-radius: 5px;
  opacity: 1;
}

.hr-title-main h2 {
  font-family: "Days One", sans-serif;
  color: #0d1fd1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.icono {
  color: #00ffa0;
  font-size: 64px;
  padding-bottom: 10px;
}
.start-text {
  text-align: center;
}
.section-start {
  color: #34274c;
  background: url(../img/footer-izq.svg) no-repeat top left,
    url(../img/footer-der.svg) no-repeat top right, #ffffff;
}

.start-text {
  display: flex;
  flex-direction: column;
}

.section-cards {
  padding: 3rem 1.5rem;
  background: url(../img/footer-izq.svg) no-repeat top left,
    url(../img/footer-der.svg) no-repeat top right, #ffffff;
}

.section-vector {
  color: #34274c;

  background: #d6d6d7 url(../img/onda-azul.svg) top left no-repeat;
  background-size: cover;
}

.footer-copy {
  padding: 3rem 1.5rem;
  background: #fff url(../img/onda-verde.png) center center fixed no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 400px;
}

.card {
  border-radius: 12px;
  border-top-left-radius: calc(1.25rem - 12px);
  border-top-right-radius: calc(1.25rem - 12px);
}

.btn-fab {
  bottom: 50px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #0019fe;
  border-radius: 100%;
}

.btn-fab i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  color: #ffffff;
}

.btn-registro {
  background-color: #a000ff;
  color: white;
  text-transform: uppercase;
  width: 250px;
  border-radius: 40px;
  border: 1px solid white;
  box-shadow: 5px 10px 10px 0px gray;
  font-size: 12px;
}
.card-title {
  border: 2px solid #a000ff;
  padding: 5px;
}
.card-title h5 {
  background-color: #a000ff;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.text-gray {
  color: gray;
}

.card-body .card-title {
  text-align: center;
}
.card-description p {
  font-size: 11px;
  margin: 0;
}

.fa-calendar-alt {
  font-size: 40px;
}

.fa-facebook-square,
.fa-instagram {
  font-size: 35px;
}

.footer-copy i {
  margin-right: 15px;
}

.footer-copy .row {
  padding-top: 100px;
}
.flecha {
  font-size: 70px;
  color: #0019fe;
}

.reverse {
  flex-direction: row-reverse !important;
}

.banner {
  background: url(../img/banner-img.png);
  background-size: cover;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .centrar {
  border: 0px;
  margin: 15px;
  padding: 25px;
  width: 500px;
  align-items: center;
}
.card-bienvenida {
  background: #c4c4c430;
  border-radius: 10px;
  color: #848484;
}
.imagen {
  background: #63bacb80;
  border-radius: 10px;
}
